.skillsBlock {
    background-color: bisque;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {

}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 644px) {
    .skills {
        justify-content: center;
    }
}