.skillsBlock {
    background-color: bisque;
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {

}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}