.projectsBlock {
    background-color: #fcb4eb;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {

}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}