.nav {
    display: flex;
    justify-content: space-between;
    min-width: 20%;
}

.link {
    margin: 0 20px;
    font-size: 23px;
    font-weight: 400;
    font-style: normal;
    color: #f5f5f5;
    letter-spacing: 0;
    opacity: .55
}