.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    background-color: #ecdcf8;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 20%;
    min-width: 200px;
}

.icon {
    height: 30px;
    width: 30px;
    background-color: #b4b4b4;
}

.icon:hover {
    cursor: pointer;
}